.friendList {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  list-style: none;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.item {
  margin: 0;
  padding: 0;
}
